In [16]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
city_data = pd.read_csv(city_data_to_load)
ride_data = pd.read_csv(ride_data_to_load)

#See city data
city_data.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [17]:
#ride data
ride_data.head(10)

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344
5        South Latoya  2018-03-11 12:26:48   9.52  1994999424437
6       New Paulville  2018-02-27 11:17:56  43.25   793208410091
7        Simpsonburgh  2018-04-26 00:43:24  35.98   111953927754
8     South Karenland  2018-01-08 03:28:48  35.09  7995623208694
9       North Jasmine  2018-03-09 06:26:29  42.81  5327642267789

In [1]:
# Combine the data into a single dataset

combined_ride_data = pd.merge(city_data, ride_data, how="left", on="city")

# Display the data table for preview
combined_ride_data.head(10)

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850
5  Richardfort            38  Urban  2018-04-21 03:44:04   9.54  3698147103219
6  Richardfort            38  Urban  2018-02-03 00:14:26  29.04  4982665519010
7  Richardfort            38  Urban  2018-02-08 15:50:12  16.55  2270463070874
8  Richardfort            38  Urban  2018-04-03 15:07:34  40.77  9496210735824
9  Richardfort            38  Urban  2018-02-19 14:09:20  27.11  8690324801449

## Bubble Plot of Ride Sharing Data

In [3]:
# Obtain the x and y coordinates for each of the three city types

combineRide = combined_ride_data["type"] == "Urban"
urban_cities = combined_ride_data[combineRide]
print(urban_cities.head())
urbanCitiesGroupby=urban_cities.groupby(["city"])
urbanCitiesGroupby.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850

,city,driver_count,type,date,fare,ride_id
0,Richardfort,38,Urban,2018-02-24 08:40:38,13.93,5628545007794
1,Richardfort,38,Urban,2018-02-13 12:46:07,14.00,910050116494
2,Richardfort,38,Urban,2018-02-16 13:52:19,17.92,820639054416
3,Richardfort,38,Urban,2018-02-01 20:18:28,10.26,9554935945413
4,Richardfort,38,Urban,2018-04-17 02:26:37,23.00,720020655850
28,Williamsstad,59,Urban,2018-01-23 17:51:24,19.62,125986195523
29,Williamsstad,59,Urban,2018-03-29 21:43:04,35.58,4747780858464
30,Williamsstad,59,Urban,2018-02-13 20:07:49,33.72,3796713212942
31,Williamsstad,59,Urban,2018-05-01 01:26:21,26.81,4542954169892
32,Williamsstad,59,Urban,2018-02-23 17:42:40,4.68,9109973457376
51,Port Angela,67,Urban,2018-04-17 06:23:18,16.34,7120534266772
52,Port Angela,67,Urban,2018-03-31 15:22:26,30.77,662264490197
53,Port Angela,67,Urban,2018-04-09 14:34:27,11.90,7009806605900
54,Port Angela,67,Urban,2018-02-08 16:30:53,30.38,5165542108944
55,Port Angela,67,Urban,2018-03-04 03:26:39,40.35,4930810733132
70,Rodneyfort,34,Urban,2018-02-10 23:22:03,23.44,5149245426178
71,Rodneyfort,34,Urban,2018-03-02 18:03:20,44.26,2494064867705
72,Rodneyfort,34,Urban,2018-02-03 00:48:41,44.86,2325699544245
73,Rodneyfort,34,Urban,2018-04-25 20:57:43,21.70,8534600667414
74,Rodneyfort,34,Urban,2018-01-30 12:34:42,16.99,5778730523049
93,West Robert,39,Urban,2018-02-15 04:21:47,12.28,1442502460354
94,West Robert,39,Urban,2018-04-05 03:18:56,44.58,4246011046064
95,West Robert,39,Urban,2018-01-21 17:21:50,27.11,1369907297609
96,West Robert,39,Urban,2018-04-13 06:56:12,32.94,9603611942427
97,West Robert,39,Urban,2018-01-04 06:10:40,35.35,9554287895527
124,West Anthony,70,Urban,2018-03-06 02:27:01,10.02,9396763280782
125,West Anthony,70,Urban,2018-01-23 12:32:46,23.24,596601397101
126,West Anthony,70,Urban,2018-02-24 06:14:16,39.20,8491405671407
127,West Anthony,70,Urban,2018-03-17 00:30:34,35.42,4561324147940
128,West Anthony,70,Urban,2018-01-10 02:31:33,32.34,1479317039864
...,...,...,...,...,...,...
1498,New Paulville,44,Urban,2018-02-27 11:17:56,43.25,793208410091
1499,New Paulville,44,Urban,2018-03-18 22:54:11,25.05,5031803855561
1500,New Paulville,44,Urban,2018-03-10 10:45:24,4.43,1213919861269
1501,New Paulville,44,Urban,2018-04-03 07:51:03,32.70,9562561279062
1502,New Paulville,44,Urban,2018-03-27 02:18:33,7.29,7046764870599
1520,Amandaburgh,12,Urban,2018-03-05 02:15:38,26.28,906850928986
1521,Amandaburgh,12,Urban,2018-02-24 23:10:49,43.66,6573820412437
1522,Amandaburgh,12,Urban,2018-02-10 20:42:46,36.17,6455620849753
1523,Amandaburgh,12,Urban,2018-01-11 02:22:07,29.24,7279902884763
1524,Amandaburgh,12,Urban,2018-01-21 04:12:54,9.26,5528427024492
1538,Williamsview,46,Urban,2018-01-03 16:19:25,18.93,1979492913169
1539,Williamsview,46,Urban,2018-03-12 06:47:43,8.35,1940440908308
1540,Williamsview,46,Urban,2018-01-09 15:24:41,44.46,2195528331786
1541,Williamsview,46,Urban,2018-01-15 00:10:14,44.33,4627033032394
1542,Williamsview,46,Urban,2018-04-07 00:32:37,18.92,23948941587
1558,New Jacobville,50,Urban,2018-02-09 02:17:35,7.11,3855046930326
1559,New Jacobville,50,Urban,2018-01-05 05:02:35,34.11,2828521502876
1560,New Jacobville,50,Urban,2018-01-15 15:27:56,27.24,3812959891670
1561,New Jacobville,50,Urban,2018-02-04 04:57:28,27.63,4329146429572
1562,New Jacobville,50,Urban,2018-02-18 21:09:27,39.97,8028701861067
1576,Port Samanthamouth,57,Urban,2018-02-24 04:29:00,33.44,2005065760003
1577,Port Samanthamouth,57,Urban,2018-04-16 18:34:44,9.20,8712247654732
1578,Port Samanthamouth,57,Urban,2018-01-23 09:08:20,35.51,3116859378683
1579,Port Samanthamouth,57,Urban,2018-02-03 07:07:01,18.03,9292190648631
1580,Port Samanthamouth,57,Urban,2018-04-22 03:32:37,29.67,3154062122440
1601,Roberthaven,47,Urban,2018-05-04 14:48:56,25.66,1026197778354
1602,Roberthaven,47,Urban,2018-02-24 10:26:34,7.80,2180566685151
1603,Roberthaven,47,Urban,2018-03-06 22:56:31,12.38,3372963379040
1604,Roberthaven,47,Urban,2018-03-14 16:12:38,36.84,4123408925006
1605,Roberthaven,47,Urban,2018-03-14 15:24:44,35.27,4034558003134

In [18]:
combineRide2 = combined_ride_data["type"] == "Suburban"
suburban_cities = combined_ride_data[combineRide2]
print(suburban_cities.head())
suburbanCitiesGroupby=urban_cities.groupby(["city"])
suburbanCitiesGroupby.head()

            city  driver_count      type                 date   fare  \
1625  Port Shane             7  Suburban  2018-04-09 15:34:40  27.66
1626  Port Shane             7  Suburban  2018-04-23 16:05:47  42.26
1627  Port Shane             7  Suburban  2018-03-02 12:06:00  14.95
1628  Port Shane             7  Suburban  2018-03-26 04:33:30  19.03
1629  Port Shane             7  Suburban  2018-03-15 12:09:42  31.58

            ride_id
1625  4022340141966
1626  8341982666719
1627  2803204948363
1628  6010401984537
1629  2552978514662

,city,driver_count,type,date,fare,ride_id
0,Richardfort,38,Urban,2018-02-24 08:40:38,13.93,5628545007794
1,Richardfort,38,Urban,2018-02-13 12:46:07,14.00,910050116494
2,Richardfort,38,Urban,2018-02-16 13:52:19,17.92,820639054416
3,Richardfort,38,Urban,2018-02-01 20:18:28,10.26,9554935945413
4,Richardfort,38,Urban,2018-04-17 02:26:37,23.00,720020655850
28,Williamsstad,59,Urban,2018-01-23 17:51:24,19.62,125986195523
29,Williamsstad,59,Urban,2018-03-29 21:43:04,35.58,4747780858464
30,Williamsstad,59,Urban,2018-02-13 20:07:49,33.72,3796713212942
31,Williamsstad,59,Urban,2018-05-01 01:26:21,26.81,4542954169892
32,Williamsstad,59,Urban,2018-02-23 17:42:40,4.68,9109973457376
51,Port Angela,67,Urban,2018-04-17 06:23:18,16.34,7120534266772
52,Port Angela,67,Urban,2018-03-31 15:22:26,30.77,662264490197
53,Port Angela,67,Urban,2018-04-09 14:34:27,11.90,7009806605900
54,Port Angela,67,Urban,2018-02-08 16:30:53,30.38,5165542108944
55,Port Angela,67,Urban,2018-03-04 03:26:39,40.35,4930810733132
70,Rodneyfort,34,Urban,2018-02-10 23:22:03,23.44,5149245426178
71,Rodneyfort,34,Urban,2018-03-02 18:03:20,44.26,2494064867705
72,Rodneyfort,34,Urban,2018-02-03 00:48:41,44.86,2325699544245
73,Rodneyfort,34,Urban,2018-04-25 20:57:43,21.70,8534600667414
74,Rodneyfort,34,Urban,2018-01-30 12:34:42,16.99,5778730523049
93,West Robert,39,Urban,2018-02-15 04:21:47,12.28,1442502460354
94,West Robert,39,Urban,2018-04-05 03:18:56,44.58,4246011046064
95,West Robert,39,Urban,2018-01-21 17:21:50,27.11,1369907297609
96,West Robert,39,Urban,2018-04-13 06:56:12,32.94,9603611942427
97,West Robert,39,Urban,2018-01-04 06:10:40,35.35,9554287895527
124,West Anthony,70,Urban,2018-03-06 02:27:01,10.02,9396763280782
125,West Anthony,70,Urban,2018-01-23 12:32:46,23.24,596601397101
126,West Anthony,70,Urban,2018-02-24 06:14:16,39.20,8491405671407
127,West Anthony,70,Urban,2018-03-17 00:30:34,35.42,4561324147940
128,West Anthony,70,Urban,2018-01-10 02:31:33,32.34,1479317039864
...,...,...,...,...,...,...
1498,New Paulville,44,Urban,2018-02-27 11:17:56,43.25,793208410091
1499,New Paulville,44,Urban,2018-03-18 22:54:11,25.05,5031803855561
1500,New Paulville,44,Urban,2018-03-10 10:45:24,4.43,1213919861269
1501,New Paulville,44,Urban,2018-04-03 07:51:03,32.70,9562561279062
1502,New Paulville,44,Urban,2018-03-27 02:18:33,7.29,7046764870599
1520,Amandaburgh,12,Urban,2018-03-05 02:15:38,26.28,906850928986
1521,Amandaburgh,12,Urban,2018-02-24 23:10:49,43.66,6573820412437
1522,Amandaburgh,12,Urban,2018-02-10 20:42:46,36.17,6455620849753
1523,Amandaburgh,12,Urban,2018-01-11 02:22:07,29.24,7279902884763
1524,Amandaburgh,12,Urban,2018-01-21 04:12:54,9.26,5528427024492
1538,Williamsview,46,Urban,2018-01-03 16:19:25,18.93,1979492913169
1539,Williamsview,46,Urban,2018-03-12 06:47:43,8.35,1940440908308
1540,Williamsview,46,Urban,2018-01-09 15:24:41,44.46,2195528331786
1541,Williamsview,46,Urban,2018-01-15 00:10:14,44.33,4627033032394
1542,Williamsview,46,Urban,2018-04-07 00:32:37,18.92,23948941587
1558,New Jacobville,50,Urban,2018-02-09 02:17:35,7.11,3855046930326
1559,New Jacobville,50,Urban,2018-01-05 05:02:35,34.11,2828521502876
1560,New Jacobville,50,Urban,2018-01-15 15:27:56,27.24,3812959891670
1561,New Jacobville,50,Urban,2018-02-04 04:57:28,27.63,4329146429572
1562,New Jacobville,50,Urban,2018-02-18 21:09:27,39.97,8028701861067
1576,Port Samanthamouth,57,Urban,2018-02-24 04:29:00,33.44,2005065760003
1577,Port Samanthamouth,57,Urban,2018-04-16 18:34:44,9.20,8712247654732
1578,Port Samanthamouth,57,Urban,2018-01-23 09:08:20,35.51,3116859378683
1579,Port Samanthamouth,57,Urban,2018-02-03 07:07:01,18.03,9292190648631
1580,Port Samanthamouth,57,Urban,2018-04-22 03:32:37,29.67,3154062122440
1601,Roberthaven,47,Urban,2018-05-04 14:48:56,25.66,1026197778354
1602,Roberthaven,47,Urban,2018-02-24 10:26:34,7.80,2180566685151
1603,Roberthaven,47,Urban,2018-03-06 22:56:31,12.38,3372963379040
1604,Roberthaven,47,Urban,2018-03-14 16:12:38,36.84,4123408925006
1605,Roberthaven,47,Urban,2018-03-14 15:24:44,35.27,4034558003134

In [19]:
combineRide3 = combined_ride_data["type"] == "Rural"
rural_cities = combined_ride_data[combineRide3]
print(rural_cities.head())
ruralCitiesGroupby=urban_cities.groupby(["city"])
ruralCitiesGroupby.head()

                city  driver_count   type                 date   fare  \
2250  South Jennifer             7  Rural  2018-04-01 09:32:45  21.63
2251  South Jennifer             7  Rural  2018-03-07 19:10:13  48.79
2252  South Jennifer             7  Rural  2018-04-05 14:35:42  32.20
2253  South Jennifer             7  Rural  2018-04-02 10:26:50  14.11
2254  South Jennifer             7  Rural  2018-04-10 20:46:11  43.25

            ride_id
2250  9135979586871
2251  9730627367446
2252   683983658392
2253  3828267773041
2254   623928772332

,city,driver_count,type,date,fare,ride_id
0,Richardfort,38,Urban,2018-02-24 08:40:38,13.93,5628545007794
1,Richardfort,38,Urban,2018-02-13 12:46:07,14.00,910050116494
2,Richardfort,38,Urban,2018-02-16 13:52:19,17.92,820639054416
3,Richardfort,38,Urban,2018-02-01 20:18:28,10.26,9554935945413
4,Richardfort,38,Urban,2018-04-17 02:26:37,23.00,720020655850
28,Williamsstad,59,Urban,2018-01-23 17:51:24,19.62,125986195523
29,Williamsstad,59,Urban,2018-03-29 21:43:04,35.58,4747780858464
30,Williamsstad,59,Urban,2018-02-13 20:07:49,33.72,3796713212942
31,Williamsstad,59,Urban,2018-05-01 01:26:21,26.81,4542954169892
32,Williamsstad,59,Urban,2018-02-23 17:42:40,4.68,9109973457376
51,Port Angela,67,Urban,2018-04-17 06:23:18,16.34,7120534266772
52,Port Angela,67,Urban,2018-03-31 15:22:26,30.77,662264490197
53,Port Angela,67,Urban,2018-04-09 14:34:27,11.90,7009806605900
54,Port Angela,67,Urban,2018-02-08 16:30:53,30.38,5165542108944
55,Port Angela,67,Urban,2018-03-04 03:26:39,40.35,4930810733132
70,Rodneyfort,34,Urban,2018-02-10 23:22:03,23.44,5149245426178
71,Rodneyfort,34,Urban,2018-03-02 18:03:20,44.26,2494064867705
72,Rodneyfort,34,Urban,2018-02-03 00:48:41,44.86,2325699544245
73,Rodneyfort,34,Urban,2018-04-25 20:57:43,21.70,8534600667414
74,Rodneyfort,34,Urban,2018-01-30 12:34:42,16.99,5778730523049
93,West Robert,39,Urban,2018-02-15 04:21:47,12.28,1442502460354
94,West Robert,39,Urban,2018-04-05 03:18:56,44.58,4246011046064
95,West Robert,39,Urban,2018-01-21 17:21:50,27.11,1369907297609
96,West Robert,39,Urban,2018-04-13 06:56:12,32.94,9603611942427
97,West Robert,39,Urban,2018-01-04 06:10:40,35.35,9554287895527
124,West Anthony,70,Urban,2018-03-06 02:27:01,10.02,9396763280782
125,West Anthony,70,Urban,2018-01-23 12:32:46,23.24,596601397101
126,West Anthony,70,Urban,2018-02-24 06:14:16,39.20,8491405671407
127,West Anthony,70,Urban,2018-03-17 00:30:34,35.42,4561324147940
128,West Anthony,70,Urban,2018-01-10 02:31:33,32.34,1479317039864
...,...,...,...,...,...,...
1498,New Paulville,44,Urban,2018-02-27 11:17:56,43.25,793208410091
1499,New Paulville,44,Urban,2018-03-18 22:54:11,25.05,5031803855561
1500,New Paulville,44,Urban,2018-03-10 10:45:24,4.43,1213919861269
1501,New Paulville,44,Urban,2018-04-03 07:51:03,32.70,9562561279062
1502,New Paulville,44,Urban,2018-03-27 02:18:33,7.29,7046764870599
1520,Amandaburgh,12,Urban,2018-03-05 02:15:38,26.28,906850928986
1521,Amandaburgh,12,Urban,2018-02-24 23:10:49,43.66,6573820412437
1522,Amandaburgh,12,Urban,2018-02-10 20:42:46,36.17,6455620849753
1523,Amandaburgh,12,Urban,2018-01-11 02:22:07,29.24,7279902884763
1524,Amandaburgh,12,Urban,2018-01-21 04:12:54,9.26,5528427024492
1538,Williamsview,46,Urban,2018-01-03 16:19:25,18.93,1979492913169
1539,Williamsview,46,Urban,2018-03-12 06:47:43,8.35,1940440908308
1540,Williamsview,46,Urban,2018-01-09 15:24:41,44.46,2195528331786
1541,Williamsview,46,Urban,2018-01-15 00:10:14,44.33,4627033032394
1542,Williamsview,46,Urban,2018-04-07 00:32:37,18.92,23948941587
1558,New Jacobville,50,Urban,2018-02-09 02:17:35,7.11,3855046930326
1559,New Jacobville,50,Urban,2018-01-05 05:02:35,34.11,2828521502876
1560,New Jacobville,50,Urban,2018-01-15 15:27:56,27.24,3812959891670
1561,New Jacobville,50,Urban,2018-02-04 04:57:28,27.63,4329146429572
1562,New Jacobville,50,Urban,2018-02-18 21:09:27,39.97,8028701861067
1576,Port Samanthamouth,57,Urban,2018-02-24 04:29:00,33.44,2005065760003
1577,Port Samanthamouth,57,Urban,2018-04-16 18:34:44,9.20,8712247654732
1578,Port Samanthamouth,57,Urban,2018-01-23 09:08:20,35.51,3116859378683
1579,Port Samanthamouth,57,Urban,2018-02-03 07:07:01,18.03,9292190648631
1580,Port Samanthamouth,57,Urban,2018-04-22 03:32:37,29.67,3154062122440
1601,Roberthaven,47,Urban,2018-05-04 14:48:56,25.66,1026197778354
1602,Roberthaven,47,Urban,2018-02-24 10:26:34,7.80,2180566685151
1603,Roberthaven,47,Urban,2018-03-06 22:56:31,12.38,3372963379040
1604,Roberthaven,47,Urban,2018-03-14 16:12:38,36.84,4123408925006
1605,Roberthaven,47,Urban,2018-03-14 15:24:44,35.27,4034558003134

In [20]:
# Build the scatter plots for each city types

dotSize=10
alphaC=.25
dotSizeL=40


plt.scatter(urban_cities,
           urban_avg_fare,
           s=dotSize*urban_drive_count, C="blue",
           edgecolor="black", linewideths=1, marker="0",
           alph=alphaC, label="Urban")

plt.scatter(suburban_cities,
           suburban_avg_fare,
           s=dotSize*suburban_drive_count, C="red",
           edgecolor="black", linewideths=1, marker="0",
           alph=alphaC, label="Suburban")

plt.scatter(rural_cities,
           rural_avg_fare,
           s=dotSize*urban_drive_count, C="green",
           edgecolor="black", linewideths=1, marker="0",
           alph=alphaC, label="Rural")


# Incorporate the other graph properties
plt.title("Pyber Ride Sharing Data")
plt.ylabel("Average Fare")
plt.xlabel("Total number of rides per city")
plt.xlim(0.45)
plt.grid(True)


# Create a legend
lgnd = plt.legend()(frontsize="small", numpoints=1, scatterpoints=1,
                    loc="best", title="City Types",
                    labelspacing=0.5)
lgnd.legendhandles[0]._sizes = [30]
lgnd.legendhandles[1]._sizes = [30]
lgnd.legendhandles[2]._sizes = [30]


# Incorporate a text label regarding circle size
plt.text(40,35)

# Save Figure
plt.savefig("ridesharingdata/fig1.png")

NameError: name 'urban_avg_fare' is not defined

In [21]:
# Show plot
plt.show()

## Total Fares by City Type

In [24]:
# Calculate Type Percents
ride_percents = 100 * city_ride_data.groupby`(["type"]).count()["ride_id"] / city_ride_data["ride_id"].count()
typeC=ride_percents.index.tolist()

# Build Pie Chart
plt.pie(ride_percents,
       labels=typeC,
       colors["gold", "lightskyblue", "coral"],
       explode = [0,0, 0.1],
       autopct = '%1.1f%%',
       shadow=True, startange=90)
plt.title("% of Total Fares by City Type")
# Save Figure
plt.savefig("data/fig2.png")

SyntaxError: invalid syntax (<ipython-input-24-b96c62ecfff8>, line 2)

In [25]:
# Show Figure
plt.show()

## Total Rides by City Type

In [26]:
# Calculate Type Percents
ride_percents = 100 * city_ride_data.groupby`(["type"]).count()["ride_id"] / city_ride_data["ride_id"].count()
typeC=ride_percents.index.tolist()

# Build Pie Chart
plt.pie(ride_percents,
       labels=typeC,
       colors["gold", "lightskyblue", "coral"],
       explode = [0,0, 0.1],
       autopct = '%1.1f%%',
       shadow=True, startange=90)
plt.title("% of Total Rides by City Type")
# Save Figure
plt.savefig("data/fig3.png")

SyntaxError: invalid syntax (<ipython-input-26-79599e900337>, line 2)

In [27]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [28]:
# Calculate Type Percents
driver_percents = 100 * city_data.groupby`(["type"]).count()["driver_count"] / city_data["driver_count"].sum()
typeC=driver_percents.index.tolist()

# Build Pie Chart
plt.pie(ride_percents,
       labels=typeC,
       colors["gold", "lightskyblue", "coral"],
       explode = [0,0, 0.1],
       autopct = '%1.1f%%',
       shadow=True, startange=90)
plt.title("% of Total Drivers by City Type")
# Save Figure
plt.savefig("data/fig4.png")

SyntaxError: invalid syntax (<ipython-input-28-7f646024001d>, line 2)

In [15]:
# Show Figure
plt.show()